<h1>Productos en tiempo real</h1>

<ul id="listProducts"></ul>

<h2>Agregar Producto</h2>

<form id="formCreateProduct">
    <input id="name" name="name" placeholder="Nombre" required>
    <input id="price" name="price" type="number" step="0.01" placeholder="Precio" required>

    <button type="submit">Agregar</button>
</form>

<h2>Eliminar Producto</h2>

<form id="formDeleteProduct">
    <input id="idProduct" name="idProduct" type="number" placeholder="Id Producto" required>

    <button type="submit">Agregar</button>
</form>

<p><a href="/">Volver a la home</a></p>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>